# explanation: https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true

# explanation for npm: https://docs.npmjs.com/cli/v9/using-npm/config#engine-strict
# explanation for pnpm: https://docs.npmjs.com/cli/v9/using-npm/config#engine-strict
engine-strict=true
